<div class="verwijzers-container">
<div class="verwijzers-content">
    <h2>Hoe kan ik verwijzen?</h2>
    <p>Wanneer u een patiënt met psychische problemen ziet, kan doorverwijzing naar gespecialiseerde hulp aangewezen zijn. Als verwijzer kunt u bij mij terecht voor de volgende problematiek:</p>
    
    <div class="highlight-box">
      <p>Patiënten die vastlopen door angst, paniek, somberheid of andere psychische klachten kunnen bij mij terecht voor behandeling. Mijn expertise omvat onder meer:</p>
      <ul>
        <li>Angst en paniekklachten</li>
        <li>Depressieve stemming</li>
        <li>Dwanggedachten en -handelingen</li>
        <li>Traumaverwerking</li>
        <li>Burn-out en stressgerelateerde klachten</li>
        <li>Levensfaseproblematiek</li>
        <li>Negatief zelfbeeld</li>
        <li>Rouwverwerking</li>
        <li>Lichte persoonlijkheidsproblematiek</li>
        <li>ADHD bij volwassenen</li>
      </ul>
    </div>
  
    <h2>Waar moet een verwijzing aan voldoen?</h2>
    <p><strong>Let op:</strong> het is belangrijk om naar Stichting 1np te verwijzen om de zorg vergoedt te krijgen. </p>
    <p>Voor uw patiënten is het belangrijk dat zij zo snel mogelijk kunnen beginnen aan hun zorgtraject. Daarvoor is een volledige en correcte verwijzing van groot belang.</p>
    
    <p>Een goed opgestelde verwijsbrief is niet alleen noodzakelijk om te voldoen aan de regelgeving, maar ook om ervoor te zorgen dat de patiënt zo snel mogelijk de juiste zorg kan ontvangen. Als verwijzer speelt u een cruciale rol in dit proces.</p>
    <p>U kunt gebruikmaken van ons <a href="https://1np-strapi-production.extenzo.nu/uploads/Voorbeeld_verwijsbrief_1n_P_61bf8edd4d.pdf">standaard verwijsbrief format</a> om te zorgen dat alle benodigde informatie wordt meegegeven.</p>
    
    <h3>Verwijsprocedure</h3>
    <p>Voor een snelle en efficiënte verwerking is het belangrijk dat uw patiënt zich digitaal aanmeldt via het <a href="https://public.extenzo.nu/#/professional-selectie/professional/13480" target="_blank">aanmeldportaal</a>. De patiënt heeft hiervoor de verwijsbrief naar 1np nodig, omdat we bij de aanmelding vragen deze te uploaden. Desgewenst kunt u ook samen met uw patiënt de aanmelding doen.</p>    
  </div>
</div>
