<footer class="footer-container">
    <div class="footer-content">
      <!-- Contact Section -->
      <div class="footer-section contact">
        <h3>Contact</h3>
        <ul>
          <li><strong>Adres:</strong> vanderboomstraat 14, Halsteren</li>
          <li><strong>Email: </strong> <a href="mailto:info@praktijkboom.nl"> info&#64;praktijkboom.nl</a></li>
          <li><strong>Telefoon:</strong> +31 20 123 4567</li>
        </ul>
      </div>
  
      <!-- Sitemap Section -->
      <div class="footer-section sitemap">
        <h3>Sitemap</h3>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/aanbod">Aanbod</a></li>
          <li><a href="/about">Over mij</a></li>
          <li><a href="/aanmelden">Aanmelden</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
  
    <!-- Footer Bottom Section -->
    <div class="footer-bottom">
      <p>&copy; Gemaakt door <a href="https://flamsoft.info">FlamSoft</a>, 2024. Alle rechten voorbehouden.</p>
    </div>
  </footer>
  