<div class="header-container">
    <h1>Praktijk van der Boom</h1>

    <!-- Hamburger Menu Icon -->
    <div class="hamburger" (click)="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>

    <!-- Navigation -->
    <nav class="header-nav" [class.active]="isMenuOpen">
        <a href="">Home</a>
        <a href="/aanbod">Aanbod</a>
        <a href="/about">Over mij</a>
        <a href="/aanmelden">Aanmelden</a>
        <a href="/contact">Contact</a>
    </nav>
</div>