@import '../../../styles.scss';

.header-container {
    height: 100px;
    // background: #daecd4;
    background: #00656c;
    color: #f3f3f3;
    // color: #ff9a93;
    display: flex;
    align-items: center;
    padding-left: 60px;
    overflow: hidden;
}

img {
    width: 50%;
    animation: glitch 10s ease-in-out;
}

.header-nav {
    margin-left: 25%;
    display: flex;
    gap: 40px;

    a {
        color: #f3f3f3;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 500;
        position: relative;
        transition: color 0.3s ease;

        &:hover {
            color: #ff9a93;
        }

        &:after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background: #ff9a93;
            transition: width 0.3s ease;
            position: absolute;
            bottom: -6px;
            left: 0;
        }

        &:hover:after {
            width: 100%;
        }
    }
}