<div class="header-container">
    <div class="logo-container" [routerLink]="'/'">
        <img class="logo" src="assets/img/pvdblogo.png" alt="logo">
        <h1>Praktijk van der Boom</h1>
    </div>

    <!-- Hamburger Menu Icon -->
    <div class="hamburger" [class.open]="isMenuOpen" (click)="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>

    <!-- Navigation -->
    <nav class="header-nav" [class.active]="isMenuOpen">
        <a [routerLink]="'/'" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="closeMenu()">Home</a>
        <a [routerLink]="'/aanbod'" routerLinkActive="active" (click)="closeMenu()">Aanbod</a>
        <a [routerLink]="'/about'" routerLinkActive="active" (click)="closeMenu()">Over mij</a>
        <a [routerLink]="'/aanmelden'" routerLinkActive="active" (click)="closeMenu()">Aanmelden</a>
        <a [routerLink]="'/contact'" routerLinkActive="active" (click)="closeMenu()">Contact</a>
    </nav>
</div>