<div class="header-container">
    <div class="logo-container" [routerLink]="'/'">
        <img class="logo" src="assets/img/pvdblogo.png" alt="logo">
        <h1>Praktijk van der Boom</h1>
    </div>

    <!-- Hamburger Menu Icon -->
    <div class="hamburger" (click)="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>

    <!-- Navigation -->
    <nav class="header-nav" [class.active]="isMenuOpen">
        <a [routerLink]="'/'">Home</a>
        <a [routerLink]="'/aanbod'">Aanbod</a>
        <a [routerLink]="'/about'">Over mij</a>
        <a [routerLink]="'/aanmelden'">Aanmelden</a>
        <a [routerLink]="'/contact'">Contact</a>
    </nav>
</div>