<div class="container">

<div class="contact-container animate-on-scroll">
    <h1>Ik hoor graag van je</h1>
    <p class="subtitle">Laat je bericht achter, dan neem ik binnenkort contact met je op.</p>
  
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <textarea
            formControlName="idea"
            placeholder="Typ hier je vraag..."
            rows="4"
            [ngClass]="{ 'invalid-input': contactForm.get('idea')?.invalid && contactForm.get('idea')?.touched }"
        ></textarea>
  
        <div class="contact-details">
            <input type="text" formControlName="name" placeholder="Naam" />
            <input
            type="email"
            formControlName="email"
            placeholder="Email"
            [ngClass]="{ 'invalid-input': contactForm.get('email')?.invalid && contactForm.get('email')?.touched }"
            />          
            <input type="tel" formControlName="phone" placeholder="Telefoonnummer" />
        </div>
  
        <button mat-raised-button type="submit" [disabled]="!contactForm.valid">
            Verzend <i class="fas fa-paper-plane"></i>
        </button>
    </form>
  
    @if(showConfirmation) {
        <p class="confirmation-msg">
            Bedankt voor je bericht! Ik neem zo snel mogelijk contact met je op.
        </p>
    }
  </div>
</div>
  