<div class="informatie-container">
  <div class="informatie-content">

    <h2>Wachttijd</h2>
    <p>Op dit moment is de wachttijd 8 weken. Aanmelden kan <a [routerLink]="'/aanmelden'">hier</a>. Ik doe mijn best om binnen twee weken na aanmelding contact met je op te nemen.</p>
    
    <h2>Kosten en vergoedingen</h2>
    <p>Als BIG-geregistreerd GZ-psycholoog wordt mijn behandeling doorgaans vergoed vanuit de basisverzekering. Hiervoor is een verwijsbrief van de huisarts nodig.</p>
    
    <p>In de Generalistische Basis GGZ wordt sinds 2022 het Zorgprestatiemodel gehanteerd. De tarieven, vastgesteld door de Nederlandse Zorgautoriteit (NZa), zijn afhankelijk van de duur en het type consult (behandeling of diagnostiek). Diagnostiek omvat onder andere het intakegesprek, adviesgesprek en aanvullend onderzoek. In mijn praktijk duren behandelconsulten 45 of 60 minuten, afhankelijk van de behandeling.</p>
    
    <h3>Tarieven</h3>
    <table>
      <thead>
        <tr>
          <th>Consulttype</th>
          <th>Duur</th>
          <th>Tarief (€)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Diagnostiek</td>
          <td>45 min</td>
          <td>€ 166,04</td>
        </tr>
        <tr>
          <td>Diagnostiek</td>
          <td>60 min</td>
          <td>€ 190,88</td>
        </tr>
        <tr>
          <td>Behandeling</td>
          <td>45 min</td>
          <td>€ 142,29</td>
        </tr>
        <tr>
          <td>Behandeling</td>
          <td>60 min</td>
          <td>€ 168,94</td>
        </tr>
      </tbody>
    </table>
    
    <p>Een overzicht van alle tarieven is te vinden op de website van de <a href="https://zorgprestatiemodel.nza.nl/">NZa</a>, onder de sectie 'ambulant kwaliteitsstatuut sectie II' voor de GZ-psycholoog.</p>
    
    <h2>Niet vergoede zorg</h2>
    <p>Niet alle vormen van psychologische zorg vallen onder de vergoeding van de basisverzekering. Voor bepaalde klachten of hulpvragen kunt u zich dus niet aanmelden voor behandeling die vanuit de Zorgverzekeringswet wordt vergoed.</p>

    <p>Voorbeelden van klachten of thema’s die <strong>niet</strong> onder de basisverzekering vallen zijn:</p>
    <ul>
      <li>relatieproblemen of relatietherapie</li>
      <li>werkgerelateerde spanningen of burn-outklachten</li>
      <li>identiteitsvragen of levensfaseproblematiek</li>
      <li>rouw- of aanpassingsproblemen die niet voldoen aan de criteria voor een diagnose binnen de verzekerde geestelijke gezondheidszorg</li>
    </ul>

    <p>Wanneer u kiest voor behandeling van dit type klachten, valt dit onder het zogenoemde <strong>Overig Zorgproduct (OZP)</strong>. Deze zorg wordt niet vergoed door de zorgverzekeraar. U ontvangt in dat geval na iedere sessie een factuur, die u zelf rechtstreeks betaalt aan de praktijk.</p>

    <p>Een OZP-behandeling kunt u doorgaans <strong>niet declareren bij uw zorgverzekeraar</strong>. De kosten zijn dus voor eigen rekening. Uiteraard kunt u vooraf altijd overleggen of uw hulpvraag onder verzekerde of niet-verzekerde zorg valt, zodat u weet waar u aan toe bent.</p>

    <h2>Toegankelijkheid, crisisgevoeligheid en inclusiecriteria</h2>
    <p>De praktijk beschikt <strong>niet over een eigen crisisdienst</strong>. Wanneer zich een crisissituatie voordoet op momenten dat ik niet bereikbaar ben, kunnen cliënten contact opnemen met de <strong>huisarts, huisartsenpost</strong>, het landelijke nummer <strong>113 (bij suïcidaliteit)</strong> of in acute noodsituaties met <strong>112</strong>. Tijdens kantooruren kan uiteraard contact met mij worden opgenomen om de situatie te bespreken.</p>

    <p>De praktijk streeft ernaar <strong>toegankelijk te zijn voor een brede groep cliënten (zoals laag of hoger IQ, autisme spectrum problematiek) </strong>. 
    <p>Waar nodig wordt in overleg bekeken of behandeling binnen de praktijk passend is, of dat verwijzing naar een andere zorgaanbieder in het netwerk beter aansluit bij de hulpvraag. Zo wordt gestreefd naar passende en toegankelijke zorg voor iedereen.</p>

    <h2>Eigen bijdrage bij Zorgverzekeringswet</h2>
    <p>Je betaalt het verplichte eigen risico voor zorg die uit de basisverzekering wordt vergoed.</p>
    <p>Boven dit eigen risico wordt de behandeling verder volledig vergoed door de zorgverzekeraar, mits de zorgverlener een contract of geldige registratie heeft.</p>
    <p>Er is dus geen aparte eigen bijdrage of bijbetaling bovenop het eigen risico.</p>

    <h2>Op tijd afzeggen</h2>
    <p>Afspraken dienen minimaal 24 uur van tevoren te worden geannuleerd. Bij een te late annulering wordt 50% van de kosten in rekening gebracht. Dit bedrag wordt niet vergoed door de zorgverzekeraar.</p>
    
    <h2>Klachten, kwaliteit en privacy</h2>
    <p>Volgens de Wkkgz is iedere zorgaanbieder die zorg verleent binnen de Zorgverzekeringswet en de Wet Langdurige Zorg verplicht om een klachtenfunctionaris, een klachtenregeling en een geschillenregeling te hebben.</p>
    <p>Ik ben aangesloten bij het LVVP, de landelijke vereniging van vrijgevestigde psychologen en psychotherapeuten. Hierlangs kunnen klachten verder opgepakt worden.</p>
    <p>Voor meer informatie hierover klikt u <a href="https://lvvp.info/voor-clienten/wat-als-ik-ontevreden-ben-de-behandeling/klachtenregeling-volwassenen/">hier</a></p>
    <p>Mijn privacy beleid vind u <a [routerLink]="'/privacyverklaring'">hier</a></p>
    <p>Mijn kwaliteitsstatuut vind u <a href="assets/documents/kwaliteitsstatuut-praktijkvanderboom.pdf" target="_blank">hier</a></p>
  </div>
</div>
