<section class="services">

    <!-- Titel en Introductie met Achtergrond -->
    <div class="services-header">
      <h2>Ons Aanbod</h2>
      <p>
        Wij bieden zowel groeps- als individuele therapieën aan, volledig afgestemd op jouw behoeften en situatie. Of je nu kiest voor een verfrissende sessie in de buitenlucht tijdens een wandeling, een digitale afspraak vanuit je vertrouwde omgeving, of een face-to-face gesprek op locatie, wij zorgen ervoor dat de therapievorm past bij wat jij nodig hebt. Ons aanbod is flexibel en persoonlijk, zodat jij op de manier die bij jou past kunt werken aan jouw doelen en welzijn.
      </p>
    </div>
  
    <!-- Groepstherapie -->
    <div class="therapy-section group-therapy">
      <div class="services-grid">
        <div class="service-item">
          <i class="fas fa-brain"></i>
          <h4>EMDR enkelvoudig trauma</h4>
          <p>Een effectieve behandeling voor trauma's met bewezen resultaten.</p>
        </div>
        <div class="service-item">
          <i class="fas fa-user-md"></i>
          <h4>Cognitieve gedragstherapie</h4>
          <p>Doorbreek negatieve gedachten en ontwikkel helpende gedragspatronen.</p>
        </div>
        <div class="service-item">
          <i class="fas fa-chart-bar"></i>
          <h4>ADHD Diagnostiek en coaching</h4>
          <p>Deze tekst moet nog veranderd worden.</p>
        </div>
        <div class="service-item">
          <i class="fas fa-hiking"></i>
          <h4>Wandelsessies</h4>
          <p>Deze tekst moet nog veranderd worden.</p>
        </div>
      </div>
    </div>
  
    <!-- Individuele Therapie -->
    <div class="therapy-section individual-therapy">
      <div class="services-grid small-container">
        <div class="service-item small">
          <i class="fas fa-lightbulb"></i>
          <p>Oplossingsgerichte therapie</p>
        </div>
        <div class="service-item small">
          <i class="fas fa-check-circle"></i>
          <p>ACT</p>
        </div>
        <div class="service-item small">
          <i class="fas fa-clock"></i>
          <p>Kortdurende behandeling</p>
        </div>
        <div class="service-item small">
          <i class="fas fa-graduation-cap"></i>
          <p>Supervisie GZ-opleiding</p>
        </div>
      </div>
    </div>
  
  </section>
  <section class="voor-wie-container">
    <div class="voor-wie-content">
      <h2>Voor wie</h2>
      <p>
        In mijn praktijk behandel ik mensen binnen de basis ggz bij volwassenen. Dit houdt in dat ik mij richt op kortdurende behandelingen voor enkelvoudige problematiek. Hierbij behandel ik volwassen met lichte tot matige problematiek. 
      </p>
      <p>
        Vooraf vindt er een screening plaats, waarbij in een gratis telefonisch consult wordt bekeken of ik de best passende zorg kan bieden.
      </p>
      <br>
      <div class="list-container">
        <div class="sublist-container">
        <h3>Problemen waarmee je bij de praktijk terecht kan;</h3>
          <ul>
            <li>Angst</li>
            <li>Paniek</li>
            <li>Depressie</li>
            <li>Dwang</li>
            <li>Trauma</li>
            <li>Burn-out</li>
            <li>Levensfaseproblematiek</li>
            <li>Negatief zelfbeeld</li>
            <li>Rouw</li>
            <li>Lichte persoonlijkheidsproblematiek</li>
            <li>ADHD</li>
          </ul>
      </div>  
        <br>
        <div class="sublist-container">

        <p>
          Bij onderstaande problematiek heb ik te weinig mogelijkheden om tot een goede behandeling te komen en adviseer ik je om je elders binnen de SGGZ aan te melden
        </p>
          <ul>
            <li>Alcohol- of drugsafhankelijkheid</li>
            <li>Psychotische stoornis</li>
            <li>Dissociatieve stoornissen</li>
            <li>Complex PTSS</li>
            <li>Suïcidaliteit en crisisgevoeligheid</li>
            <li>Eetproblematiek</li>
            <li>Matige en ernstige persoonlijkheidsproblematiek</li>
            <li>Bipolaire stemmingsstoornis</li>
            <li>Autisme spectrum problematiek waarvoor een grotere zorgvraag is</li>
            <li>Ernstige dwangstoornis</li>
            <li>Ernstige depressie</li>
            <li>Relatieproblemen</li>
          </ul>
        </div>
      </div>
    </div>
  </section>