<section class="services">

    <!-- Titel en Introductie met Achtergrond -->
    <!-- <div class="services-header">
      <h2>Ons Aanbod</h2>
      <p>
        Wij bieden zowel groeps- als individuele therapieën aan, volledig afgestemd op jouw behoeften en situatie. Of je nu kiest voor een verfrissende sessie in de buitenlucht tijdens een wandeling, een digitale afspraak vanuit je vertrouwde omgeving, of een face-to-face gesprek op locatie, wij zorgen ervoor dat de therapievorm past bij wat jij nodig hebt. Ons aanbod is flexibel en persoonlijk, zodat jij op de manier die bij jou past kunt werken aan jouw doelen en welzijn.
      </p>
    </div> -->

    <div class="services-container">
      <div class="services-text">
        <h2>Ons Aanbod</h2>
        <p>
          Wij bieden zowel groeps- als individuele therapieën aan, volledig afgestemd op jouw behoeften en situatie. Of je nu kiest voor een verfrissende sessie in de buitenlucht tijdens een wandeling, een digitale afspraak vanuit je vertrouwde omgeving, of een face-to-face gesprek op locatie, wij zorgen ervoor dat de therapievorm past bij wat jij nodig hebt. Ons aanbod is flexibel en persoonlijk, zodat jij op de manier die bij jou past kunt werken aan jouw doelen en welzijn.
        </p>
      </div>
      <div class="services-image">
        <img src="https://i.ibb.co/d0LHvdR/beautiful-tree-middle-field-covered-with-grass-with-tree-line-background.jpg" alt="Therapeutic Nature">
      </div>
    </div>
  
    <!-- Groepstherapie -->
    <div class="therapy-section group-therapy">
      <div class="services-grid">
        <div class="service-item">
          <i class="fas fa-brain"></i>
          <h4>EMDR enkelvoudig trauma</h4>
          <p>Een effectieve behandeling voor trauma's met bewezen resultaten.</p>
        </div>
        <div class="service-item">
          <i class="fas fa-user-md"></i>
          <h4>Cognitieve gedragstherapie</h4>
          <p>Doorbreek negatieve gedachten en ontwikkel helpende gedragspatronen.</p>
        </div>
        <div class="service-item">
          <i class="fas fa-chart-bar"></i>
          <h4>ADHD Diagnostiek en coaching</h4>
          <p>Heb je al langer vermoedens van AD(H)D? Samen met jou en je naasten onderzoeken we op zorgvuldige wijze of je inderdaad ADHD hebt.</p>
        </div>
        <div class="service-item">
          <i class="fas fa-hiking"></i>
          <h4>Wandelsessies</h4>
          <p>Al wandelend op weg naar minder stress & meer balans en plezier in je leven.</p>
        </div>
      </div>
    </div>
  
    <!-- Individuele Therapie -->
    <div class="therapy-section individual-therapy">
      <div class="services-grid small-container">
        <div class="service-item small">
          <i class="fas fa-lightbulb"></i>
          <p>Oplossingsgerichte therapie</p>
        </div>
        <div class="service-item small">
          <i class="fas fa-check-circle"></i>
          <p>ACT</p>
        </div>
        <div class="service-item small">
          <i class="fas fa-clock"></i>
          <p>Kortdurende behandeling</p>
        </div>
        <div class="service-item small">
          <i class="fas fa-graduation-cap"></i>
          <p>Supervisie GZ-opleiding</p>
        </div>
      </div>
    </div>
  
  </section>
  <section class="voor-wie-container">
    <div class="voor-wie-content">
      <h2>Voor wie</h2>
      <p>
        In mijn praktijk behandel ik mensen binnen de basis ggz bij volwassenen. Dit houdt in dat ik mij richt op kortdurende behandelingen voor enkelvoudige problematiek. Hierbij behandel ik volwassen met lichte tot matige problematiek. 
      </p>
      <p>
        Vooraf vindt er een screening plaats, waarbij in een gratis telefonisch consult wordt bekeken of ik de best passende zorg kan bieden.
      </p>
      <br>
      <br>
      <hr>
      <br>
        <h3>Problemen waarmee je bij mij terecht kan</h3>
        <p>Soms loop je in het leven tegen dingen aan die je niet alleen wilt of kunt dragen. Misschien ervaar je angst of paniek die je belemmert in je dagelijks leven, of worstel je met sombere gevoelens en een negatief zelfbeeld. Ook thema’s zoals dwanggedachten, trauma, burn-out en rouw kunnen ervoor zorgen dat je vastloopt. Ik bied begeleiding bij deze en andere klachten, zoals ADHD, lichte persoonlijkheidsproblematiek en levensfaseproblematiek. Samen kijken we naar wat jij nodig hebt om weer grip te krijgen op je leven.</p>
        <div class="pill-container">
          <span class="pill">Angst</span>
          <span class="pill">Paniek</span>
          <span class="pill">Depressie</span>
          <span class="pill">Dwang</span>
          <span class="pill">Trauma</span>
          <span class="pill">Burn-out</span>
          <span class="pill">Levensfaseproblematiek</span>
          <span class="pill">Negatief zelfbeeld</span>
          <span class="pill">Rouw</span>
          <span class="pill">Lichte persoonlijkheidsproblematiek</span>
          <span class="pill">ADHD</span>
        </div>
        <br>
        <br>
      <hr>
      <br>
      <br>
      <h3>Wanneer ik niet de juiste hulp kan bieden</h3>
      <p>
        Sommige problemen vragen om gespecialiseerde zorg die ik helaas niet kan bieden. Dit geldt bijvoorbeeld voor alcohol- of drugsafhankelijkheid, psychotische stoornissen, complexe PTSS en dissociatieve stoornissen. Ook bij ernstige depressie, suïcidaliteit en crisisgevoeligheid is intensievere ondersteuning nodig. Verder kan ik voor eetstoornissen, bipolaire stoornissen, ernstige dwang, en relatieproblemen niet de juiste hulp bieden. Heb je autisme en is er een bredere zorgvraag, of is er sprake van matige tot ernstige persoonlijkheidsproblematiek, dan verwijs ik je graag door naar een passende behandelaar.</p>
        <div class="pill-container">
          <span class="pill red">Alcohol- of drugsafhankelijkheid</span>
          <span class="pill red">Psychotische stoornis</span>
          <span class="pill red">Dissociatieve stoornissen</span>
          <span class="pill red">Complex PTSS</span>
          <span class="pill red">Suïcidaliteit en crisisgevoeligheid</span>
          <span class="pill red">Eetproblematiek</span>
          <span class="pill red">Matige en ernstige persoonlijkheidsproblematiek</span>
          <span class="pill red">Bipolaire stemmingsstoornis</span>
          <span class="pill red">Autisme spectrum problematiek waarvoor een grotere zorgvraag is</span>
          <span class="pill red">Ernstige dwangstoornis</span>
          <span class="pill red">Ernstige depressie</span>
          <span class="pill red">Relatieproblemen</span>
        </div>
      </div>
  </section>