@use '../../../styles.scss' as *;

.services {
    padding: 0;
    background-color: #AAC9CB;

    .services-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 60px;
        position: relative;
        background-color: #fffcfc;

        @media (max-width: 768px) {
            flex-direction: column; /* Stack content vertically on mobile */
            padding: 40px 20px; /* Reduce padding for mobile */
        }
    }

    .services-text {
        width: 55%; /* Adjust text width */
        text-align: left;

        @media (max-width: 768px) {
            width: 100%; /* Full width on mobile */
            text-align: center; /* Center text on mobile */
        }

        h2 {
            font-size: 3rem;
            margin-bottom: 20px;

            @media (max-width: 768px) {
                font-size: 2.5rem; /* Smaller font size for mobile */
            }
        }

        h3 {
            font-size: 1.4rem;
            margin-top: 60px;
            margin-bottom: 60px;
            cursor: pointer;
            
            &:hover{
                color: #00656c;
            }
            @media (max-width: 768px) {
                font-size: 1.2rem; /* Smaller font size for mobile */
                margin-top: 40px;
                margin-bottom: 40px;
            }
        }

        p {
            font-size: 1.2rem;
            line-height: 1.6;

            @media (max-width: 768px) {
                font-size: 1rem; /* Smaller font size for mobile */
            }
        }
    }

    .services-image {
        width: 40%; /* Adjust image width */

        @media (max-width: 768px) {
            width: 100%; /* Full width on mobile */
            margin-top: 40px; /* Add space between text and image */
            text-align: center; /* Center image on mobile */
        }

        img {
            width: 100%;
            height: auto;
            border: 8px solid white;
            border-radius: 10px;
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);

            @media (max-width: 768px) {
                width: 80%; /* Adjust image size for mobile */
            }
        }
    }

    .therapy-section {
        padding: 60px 20px;

        @media (max-width: 768px) {
            padding: 40px 20px; /* Reduce padding for mobile */
        }

        h3 {
            font-size: 2.2rem;
            color: $primary-color;
            text-align: center;
            margin-bottom: 20px;

            @media (max-width: 768px) {
                font-size: 2rem; /* Smaller font size for mobile */
            }
        }

        .therapy-description {
            text-align: center;
            font-size: 1.1rem;
            max-width: 600px;
            margin: 0 auto 40px auto;

            @media (max-width: 768px) {
                font-size: 1rem; /* Smaller font size for mobile */
            }
        }

        &.group-therapy {
            padding-top: 140px;

            @media (max-width: 768px) {
                padding-top: 80px; /* Adjust padding for mobile */
            }
        }

        &.individual-therapy {
            padding-bottom: 280px;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                bottom: -20px;
                left: 0;
                width: 100%;
                height: 200px;
                background: url('../../../assets/img/sin-y-1.svg') no-repeat center bottom;
                background-size: cover;
            }

            @media (max-width: 768px) {
                padding-bottom: 200px; /* Adjust padding for mobile */
            }
        }
    }

    .services-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 30px;
        justify-items: center;
        max-width: 1600px;
        margin: 0 auto;

        @media (max-width: 768px) {
            grid-template-columns: 1fr; /* Stack items vertically on mobile */
            gap: 20px; /* Reduce gap for mobile */
        }

        .service-item {
            background-color: #e5f4f6;
            width: 100%;
            max-width: 370px;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
            text-align: center;
            transition: all 0.3s ease-in-out;

            i {
                font-size: 2.5rem;
                color: #7BA05B;
                margin-bottom: 15px;
            }

            h4 {
                font-size: 1.4rem;
                margin-bottom: 10px;

                @media (max-width: 768px) {
                    font-size: 1.2rem; /* Smaller font size for mobile */
                }
            }

            p {
                font-size: 1rem;
                line-height: 1.5;
                color: #555;

                @media (max-width: 768px) {
                    font-size: 0.9rem; /* Smaller font size for mobile */
                }
            }

            &:hover {
                transform: scale(1.05);
                box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);

                i {
                    color: #fd8f87;
                }
            }
        }
    }

    .small-container {
        display: flex;
        justify-content: center;

        @media (max-width: 768px) {
            flex-direction: column; /* Stack items vertically on mobile */
            align-items: center; /* Center items on mobile */
        }

        .small {
            padding: 20px 0px;
            min-width: 100px;
            font-weight: bold;

            @media (max-width: 768px) {
                min-width: 60%; /* Full width on mobile */
                margin-bottom: 20px; /* Add space between items */
            }
        }
    }
}

.voor-wie-container {
    display: flex;
    padding: 0px 60px 240px;
    color: rgb(0, 0, 0);
    background-color: #fffcfc;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: -20px;
        left: 0;
        width: 100%;
        height: 200px;
        background: url('../../../assets/img/sin-bb-1.svg') no-repeat center bottom;
        background-size: cover;
    }

    @media (max-width: 768px) {
        flex-direction: column; /* Stack content vertically on mobile */
        padding: 40px 20px 150px; /* Reduce padding for mobile */
    }

    .voor-wie-content {
        padding-right: 20px;

        @media (max-width: 768px) {
            padding-right: 0; /* Remove padding for mobile */
        }

        h1 {
            font-size: 3.5rem;
            margin-bottom: 20px;
            color: $primary-color;

            @media (max-width: 768px) {
                font-size: 2.5rem; /* Smaller font size for mobile */
            }
        }

        h2 {
            font-size: 2rem;
            margin-bottom: 20px;

            @media (max-width: 768px) {
                font-size: 1.8rem; /* Smaller font size for mobile */
            }
        }

        .aanmelden-click {
            font-size: 1.2rem;
            cursor: pointer;
            margin-top: 40px;

            &:hover{
                color: #00656c;
            }
        }

        p {
            font-size: 1.2rem;
            line-height: 1.6;

            @media (max-width: 768px) {
                font-size: 1rem; /* Smaller font size for mobile */
            }
        }
    }
}

.voor-wie-niet-container {
    display: flex;
    padding: 0px 60px 80px;
    color: rgb(0, 0, 0);
    background-color: #AAC9CB;

    @media (max-width: 768px) {
        flex-direction: column; /* Stack content vertically on mobile */
        padding: 40px 20px; /* Reduce padding for mobile */
    }

    .voor-wie-niet-content {
        padding-right: 20px;

        @media (max-width: 768px) {
            padding-right: 0; /* Remove padding for mobile */
        }

        h1 {
            font-size: 3.5rem;
            margin-bottom: 20px;
            color: $primary-color;

            @media (max-width: 768px) {
                font-size: 2.5rem; /* Smaller font size for mobile */
            }
        }

        h2 {
            font-size: 2rem;
            margin-bottom: 20px;

            @media (max-width: 768px) {
                font-size: 1.8rem; /* Smaller font size for mobile */
            }
        }

        p {
            font-size: 1.2rem;
            line-height: 1.6;

            @media (max-width: 768px) {
                font-size: 1rem; /* Smaller font size for mobile */
            }
        }
    }
}

.pill-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    @media (max-width: 768px) {
        display: none;
        justify-content: center; /* Center pills on mobile */
    }
}

.pill {
    background-color: #d4f8e7;
    padding: 8px 16px;
    border-radius: 15px;
    font-size: 16px;
    display: inline-block;
    white-space: nowrap;
    border: 2px solid black;

    &.red {
        background-color: #f9d0d0;
    }
}

.text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    @media (max-width: 768px) {
        flex-direction: column; /* Stack content vertically on mobile */
        gap: 40px; /* Add space between stacked items */
    }
}

.sub-container {
    display: flex;
    flex-direction: column;
    width: 50%;

    @media (max-width: 768px) {
        width: 100%; /* Full width on mobile */
    }
}