@import '../../../styles.scss';

.services {
    padding: 0;
    background-color: #f9f9f9;
  
    // Achtergrond header met gradient
    .services-header {
      background: linear-gradient(to right, #f2f2f2 10%, rgba(0, 0, 0, 0)), 
                  url('https://i.ibb.co/d0LHvdR/beautiful-tree-middle-field-covered-with-grass-with-tree-line-background.jpg') 
                  top center no-repeat;
      background-size: cover;
      padding: 80px 60px;
      text-align: left;
  
      h2 {
        font-size: 3rem;
        color: rgb(0, 0, 0);
        margin-bottom: 20px;
        padding-right: 20px;
        max-width: 50%;
      }
  
      p {
        font-size: 1.2rem;
        color: #000000;
        padding-right: 20px;
        max-width: 50%;
        line-height: 1.6;
      }
    }
  
    .therapy-section {
      padding: 60px 20px;
  
      h3 {
        font-size: 2.2rem;
        color: $primary-color;
        text-align: center;
        margin-bottom: 20px;
      }
  
      .therapy-description {
        text-align: center;
        font-size: 1.1rem;
        color: #555;
        max-width: 600px;
        margin: 0 auto 40px auto;
      }
  
      &.group-therapy {
        // background-color: #eef7ff; // Lichtblauw
      }
  
      &.individual-therapy {
        background-color: #ebebeb;

      }
    }
  
    .services-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); // Dynamische kolommen
        gap: 30px;
        justify-items: center; // Centreert de vakjes horizontaal
        max-width: 1600px;
        margin: 0 auto;
      
        .service-item {
          background-color: white;
          width: 100%; // Zorgt ervoor dat de vakjes flexibel blijven
          max-width: 320px; // Limiteert de maximale breedte van een vakje
          padding: 30px;
          border-radius: 10px;
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
          text-align: center;
          transition: all 0.3s ease-in-out;
      
          i {
            font-size: 2.5rem;
            color: #7BA05B;
            margin-bottom: 15px;
          }
      
          h4 {
            font-size: 1.4rem;
            margin-bottom: 10px;
          }
      
          p {
            font-size: 1rem;
            line-height: 1.5;
            color: #555;
          }
      
          &:hover {
            transform: scale(1.05);
            box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
            i{
              color: darken(#ff9a93, 10%);
            }
          }
        }
      }
  .small-container{
    display: flex;
    justify-content: center;
    .small {
        padding: 20px 0px;
        min-width: 100px;
        font-weight: bold;
    }
  }
}

