@use '../../../styles.scss' as *;

.about-container {
      margin: 0 auto;
    }

.hero {
    display: flex;
    align-items: center;  /* Centers content vertically */
    justify-content: flex-start;  /* Aligns content to the left */
    background: linear-gradient(to right, #f2f2f2 10%, rgba(0, 0, 0, 0)), 
                url('https://images.pexels.com/photos/1673973/pexels-photo-1673973.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') right center no-repeat;
    background-size: cover;
    padding: 0 60px;
    color: rgb(0, 0, 0);
    text-align: left;
    height: calc(100vh - 100px); /* Adjust for header height */

    .hero-content {
        max-width: 50%;
    }   

    h1 {
        font-size: 3rem;
        margin-bottom: 20px;
    }

    p {
        font-size: 1.2rem;
        margin-top: 20px;
        line-height: 1.6;
    }
}

// Sectie stijlen
.section {
    padding: 80px 60px;
    margin-bottom: 60px;
}

.values {
    padding: 10px 20px 120px;
    text-align: center;
    // background: linear-gradient(to right, #f2f2f2 20%, rgba(0, 0, 0, 0)), 
    //             url('https://i.ibb.co/d0LHvdR/beautiful-tree-middle-field-covered-with-grass-with-tree-line-background.jpg') right top no-repeat;
    background-color: #fff8f2;
    // position: relative;
    // &::after {
    //     content: "";
    //     position: absolute;
    //     bottom: -20px; // Slight overlap to avoid gaps
    //     left: 0;
    //     width: 101%;
    //     height: 200px; // Adjust wave height
    //     background: url('../../../assets/img/sin-b-1.svg') no-repeat center bottom;
    //     background-size: 100% auto;
    // }

    h2 {
        font-size: 2.5rem;
        color: black;
        margin-bottom: 50px;
    }

    .values-list {
        display: flex;
        flex-wrap: wrap; // Items kunnen op een nieuwe rij komen
        justify-content: center; // Centreren op de pagina
        gap: 40px; // Ruimte tussen de items

        .value-item {
            display: flex;
            align-items: center;
            max-width: 500px; // Breedte van 1 item
            flex: 1 1 calc(50% - 40px); // 2 naast elkaar (met ruimte ertussen)
            box-sizing: border-box;

            @media (max-width: 768px) {
                flex: 1 1 100%; // Op smallere schermen 1 per rij
            }

            .icon-line {
                display: flex;
                flex-direction: column;
                align-items: center;

                .icon-circle {
                    background-color: #7BA05B;
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    font-size: 2rem;
                    transition: background-color 0.3s ease;

                    &:hover {
                        background-color: #fd8f87; 
                    }
                }

                .line {
                    flex: 1;
                    width: 2px;
                    background-color: #e0e0e0;
                    margin: 10px 0;
                }
            }

            .value-content {
                padding-left: 20px;
                text-align: left;

                h3 {
                    font-size: 1.6rem;
                    margin-bottom: 10px;
                    color: #000000;
                }

                p {
                    font-size: 1rem;
                    color: #000000;
                }
            }
        }
    }
}



  .services {
    padding: 0px 60px;
    padding-bottom: 200px;
    background-color: #AAC9CB;
    
    padding-top: 80px;
    // background: linear-gradient(to right, #f2f2f2 01%, rgba(0, 0, 0, 0)), 
    // url('https://i.ibb.co/d0LHvdR/beautiful-tree-middle-field-covered-with-grass-with-tree-line-background.jpg') right center no-repeat;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        bottom: -20px; // Slight overlap to avoid gaps
        left: 0;
        width: 101%;
        height: 200px; // Adjust wave height
        background: url('../../../assets/img/sin-y-1.svg') no-repeat center bottom;
        background-size: 100% auto;
    }
    h2 {
        margin-top: 0;
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 80px;
    }

    h3 {
        font-size: 1.4rem;
        margin-bottom: 10px;
        text-align: center;
    }

    .spacing {
        margin-top: 40px;
    }

    .services-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 30px;

        .service-item {
            background-color: #e5f4f6;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
            text-align: center;
            transition: all 0.3s ease-in-out;

            i {
                font-size: 2.5rem;
                color: #7BA05B;
                margin-bottom: 15px;
            }

            p {
                font-size: 1rem;
                line-height: 1.5;
                color: #000000;
            }

            &:hover {
                transform: scale(1.05);
                box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);

                i {
                    color: #fd8f87;
                }
            }
        }

    }

    .small-container{
        display: flex;
        justify-content: center;
        .small {
            padding: 30px;
            min-width: 200px;
        }
    }
}


@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-on-scroll {
    opacity: 0;
    animation: fadeInUp 1s forwards;
    animation-delay: 0.2s;
  }
  