<div class="about-container animate-on-scroll">
  <section class="hero">
      <div class="hero-content">
        <h1>Persoonlijke aandacht voor groei en welzijn</h1>
        <h2>Psychologiepraktijk in Halsteren</h2>
        <p>
          Praktijk van der Boom is een moderne psychologiepraktijk in Halsteren, opgericht in 2025, met een sterke focus op mentaal welzijn en persoonlijke ontwikkeling.  
          Ik bied deskundige begeleiding op het gebied van <strong>Basis GGZ</strong>, <strong>coaching</strong>, <strong>supervisie</strong> en <strong>psychotherapie</strong> voor cliënten in Halsteren, Bergen op Zoom, Tholen, Steenbergen, Heerle en omstreken.  
        </p>
        <p>
          Mijn praktijk biedt laagdrempelige en professionele hulp voor uiteenlopende psychische klachten en persoonlijke groei.
        </p>
      </div>
  </section>

    <section class="services">
        <h2>Mijn Aanbod</h2>
        <div class="services-grid">
          <div class="service-item" (click)="navigateToTreatmentDetail('emdr-enkelvoudig-trauma')">
            <i class="fas fa-brain"></i>
            <h4>EMDR enkelvoudig trauma</h4>
            <p>Een effectieve behandeling voor trauma's met bewezen resultaten.</p>
          </div>
          <div class="service-item" (click)="navigateToTreatmentDetail('cognitieve-gedragstherapie')">
            <i class="fas fa-user-md"></i>
            <h4>Cognitieve gedragstherapie</h4>
            <p>Doorbreek negatieve gedachten en ontwikkel helpende gedragspatronen.</p>
          </div>
          <div class="service-item" (click)="navigateToTreatmentDetail('adhd-diagnostiek-en-coaching')">
            <i class="fas fa-chart-bar"></i>
            <h4>ADHD Diagnostiek en coaching</h4>
            <p>Heb je al langer vermoedens van AD(H)D? Samen met jou en je naasten onderzoeken we op zorgvuldige wijze of je inderdaad ADHD hebt.</p>
          </div>
          <div class="service-item" (click)="navigateToTreatmentDetail('wandelsessies')">
            <i class="fas fa-hiking"></i>
            <h4>Wandelsessies</h4>
            <p>Al wandelend op weg naar minder stress & meer balans en plezier in je leven.</p>
          </div>
          <div class="service-item" (click)="navigateToTreatmentDetail('act-acceptance-and-commitment-therapy')">
            <i class="fas fa-check-circle"></i>
            <h4>Acceptance and Commitment Therapy (ACT)</h4>
            <p>Een therapie die helpt om gedachten en emoties te accepteren en waardevolle acties te ondernemen.</p>
          </div>
          <div class="service-item" (click)="navigateToTreatmentDetail('supervisie-gz-opleiding')">
            <i class="fas fa-graduation-cap"></i>
            <h4>Supervisie GZ-opleiding</h4>
            <p>Begeleiding en ondersteuning tijdens je opleiding tot GZ-psycholoog, gericht op persoonlijke groei en professionele ontwikkeling in je werk.</p>
          </div>
        </div>
        <div class="spacing"></div>
        <!-- <div class="services-grid small-container">
          <div class="service-item small">
            <i class="fas fa-lightbulb"></i>
            <h4>Oplossingsgerichte therapie</h4>
          </div>
          <div class="service-item small">
            <i class="fas fa-check-circle"></i>
            <h4>ACT</h4>
          </div>
          <div class="service-item small">
            <i class="fas fa-clock"></i>
            <h4>Kortdurende behandeling</h4>
          </div>
          <div class="service-item small">
            <i class="fas fa-graduation-cap"></i>
            <h4>Supervisie GZ-opleiding</h4>
          </div>
        </div> -->
        <br>
        <h3 class="aanbod-click" [routerLink]="'/aanbod'">Klik hier voor meer informatie over mijn aanbod</h3>
        <h3 [routerLink]="'/aanmelden'">Jezelf aanmelden? Klik dan hier</h3>
    </section>  
    
    <section class="values">
        <h2>Waar Ik Voor Sta</h2>
        <div class="values-list">
            <div class="value-item">
                <div class="icon-line">
                    <div class="icon-circle">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="line"></div>
                </div>
                <div class="value-content">
                    <h3>Clientgericht</h3>
                    <p>Ik zet de behoeften van mijn cliënten altijd op de eerste plaats en bieden op maat gemaakte oplossingen.</p>
                </div>
            </div>
            <div class="value-item">
                <div class="icon-line">
                    <div class="icon-circle">
                        <i class="fas fa-bullseye"></i>
                    </div>
                    <div class="line"></div>
                </div>
                <div class="value-content">
                    <h3>Doelgericht</h3>
                    <p>Ik werk samen met mijn cliënten aan duidelijke, haalbare doelen en richten ons op resultaat.</p>
                </div>
            </div>
            <div class="value-item">
                <div class="icon-line">
                    <div class="icon-circle">
                        <i class="fas fa-chart-line"></i>
                    </div>
                    <div class="line"></div>
                </div>
                <div class="value-content">
                    <h3>Analytisch</h3>
                    <p>Ik analyseer de situatie grondig en gebruik evidence-based methoden om de juiste aanpak te kiezen.</p>
                </div>
            </div>
            <div class="value-item">
                <div class="icon-line">
                    <div class="icon-circle">
                        <i class="fas fa-heart"></i>
                    </div>
                </div>
                <div class="value-content">
                    <h3>Empathisch</h3>
                    <p>Ik begrijp de gevoelens en zorgen van mijn cliënten en bied ondersteuning met respect en compassie.</p>
                </div>
            </div>
            <div class="value-item">
                <div class="icon-line">
                    <div class="icon-circle">
                        <i class="fas fa-flask"></i>
                    </div>
                </div>
                <div class="value-content">
                    <h3>Evidence Based</h3>
                    <p>Ik baseer mijn aanpak op wetenschappelijk onderzoek en bewezen methoden om de best mogelijke resultaten te behalen.</p>
                </div>
            </div>
        </div>
    </section> 
    
</div>
