<div class="about-container animate-on-scroll">
  <section class="hero">
    <div class="hero-content-width">
      <div class="hero-content">
        <h1>Persoonlijke aandacht voor groei en welzijn</h1>
        <h2>Psychologiepraktijk in Halsteren</h2>
        <p>
          Praktijk van der Boom is een moderne psychologiepraktijk in Halsteren, opgericht in 2025, met een sterke focus op mentaal welzijn en persoonlijke ontwikkeling.  
          Ik bied deskundige begeleiding op het gebied van <strong>Basis GGZ</strong>, <strong>coaching</strong>, <strong>supervisie</strong> en <strong>psychotherapie</strong> voor cliënten in Halsteren, Bergen op Zoom, Tholen, Steenbergen, Heerle en omstreken.  
        </p>
        <p>
          Mijn praktijk biedt laagdrempelige en professionele hulp voor uiteenlopende psychische klachten en persoonlijke groei.
        </p>
        </div>
      </div>
      
    </section>
    
    <div class="svg-b"></div>
    <section class="therapy-section">
        <h2>Mijn Aanbod</h2>
          <div class="services-grid-container">
            <div class="services-grid">
              <!-- EMDR enkelvoudig trauma -->
              <div class="service-card" (click)="navigateToTreatmentDetail('emdr-enkelvoudig-trauma')">
                <div class="card-icon">
                  <i class="fas fa-brain"></i>
                </div>
                <h4>EMDR enkelvoudig trauma</h4>
                <p>Een effectieve behandeling voor trauma's met bewezen resultaten.</p>
                <div class="card-footer">Meer info →</div>
              </div>
        
              <!-- Cognitieve gedragstherapie -->
              <div class="service-card" (click)="navigateToTreatmentDetail('cognitieve-gedragstherapie')">
                <div class="card-icon">
                  <i class="fas fa-user-md"></i>
                </div>
                <h4>Cognitieve gedragstherapie</h4>
                <p>Doorbreek negatieve gedachten en ontwikkel helpende gedragspatronen.</p>
                <div class="card-footer">Meer info →</div>
              </div>
        
              <!-- ADHD Diagnostiek en coaching -->
              <div class="service-card" (click)="navigateToTreatmentDetail('adhd-diagnostiek-en-coaching')">
                <div class="card-icon">
                  <i class="fas fa-chart-bar"></i>
                </div>
                <h4>ADHD Diagnostiek en coaching</h4>
                <p>Heb je al langer vermoedens van AD(H)D? Samen onderzoeken we of je ADHD hebt.</p>
                <div class="card-footer">Meer info →</div>
              </div>
        
              <!-- Wandelsessies -->
              <div class="service-card" (click)="navigateToTreatmentDetail('wandelsessies')">
                <div class="card-icon">
                  <i class="fas fa-hiking"></i>
                </div>
                <h4>Wandelsessies</h4>
                <p>Al wandelend op weg naar minder stress & meer balans en plezier in je leven.</p>
                <div class="card-footer">Meer info →</div>
              </div>
        
              <!-- Acceptance and Commitment Therapy (ACT) -->
              <div class="service-card" (click)="navigateToTreatmentDetail('act-acceptance-and-commitment-therapy')">
                <div class="card-icon">
                  <i class="fas fa-check-circle"></i>
                </div>
                <h4>Acceptance and Commitment Therapy (ACT)</h4>
                <p>Leer gedachten en emoties te accepteren en waardevolle acties te ondernemen.</p>
                <div class="card-footer">Meer info →</div>
              </div>

              <!-- schematherapie -->
              <div class="service-card" (click)="navigateToTreatmentDetail('schematherapie')">
                <div class="card-icon">
                  <i class="fas fa-heart"></i>
                </div>
                <h4>Schematherapie</h4>
                <p>Ontdek en verander diepgewortelde patronen die je dagelijks leven beïnvloeden.</p>
                <div class="card-footer">Meer info →</div>
              </div>
                     
              <!-- Supervisie GZ-opleiding -->
              <div class="service-card" (click)="navigateToTreatmentDetail('supervisie-gz-opleiding')">
                <div class="card-icon">
                  <i class="fas fa-graduation-cap"></i>
                </div>
                <h4>Supervisie GZ-opleiding</h4>
                <p>Begeleiding tijdens je opleiding tot GZ-psycholoog voor professionele groei.</p>
                <div class="card-footer">Meer info →</div>
              </div>
        
            </div>
          </div>
        <div class="spacing"></div>
        <br>
        <h3 class="router-link" [routerLink]="'/aanbod'">Klik hier voor meer informatie over mijn aanbod</h3>
        <h3 class="router-link" [routerLink]="'/aanmelden'">Jezelf aanmelden? Klik dan hier</h3>
    </section>  
    <div class="wave-divider">
      <svg viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" fill="#AAC9CB"></path>
        <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" fill="#AAC9CB"></path>
        <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" fill="#AAC9CB"></path>
      </svg>
    </div>

    <section class="values">
        <h2>Waar Ik Voor Sta</h2>
        <div class="values-list">
            <div class="value-item">
                <div class="icon-line">
                    <div class="icon-circle">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="line"></div>
                </div>
                <div class="value-content">
                    <h3>Clientgericht</h3>
                    <p>Ik zet de behoeften van mijn cliënten altijd op de eerste plaats en bied op maat gemaakte oplossingen.</p>
                </div>
            </div>
            <div class="value-item">
                <div class="icon-line">
                    <div class="icon-circle">
                        <i class="fas fa-bullseye"></i>
                    </div>
                    <div class="line"></div>
                </div>
                <div class="value-content">
                    <h3>Doelgericht</h3>
                    <p>Ik werk samen met mijn cliënten aan duidelijke, haalbare doelen en richt ons op resultaat.</p>
                </div>
            </div>
            <div class="value-item">
                <div class="icon-line">
                    <div class="icon-circle">
                        <i class="fas fa-chart-line"></i>
                    </div>
                    <div class="line"></div>
                </div>
                <div class="value-content">
                    <h3>Analytisch</h3>
                    <p>Ik analyseer de situatie grondig en gebruik evidence-based methoden om de juiste aanpak te kiezen.</p>
                </div>
            </div>
            <div class="value-item">
                <div class="icon-line">
                    <div class="icon-circle">
                        <i class="fas fa-heart"></i>
                    </div>
                </div>
                <div class="value-content">
                    <h3>Empathisch</h3>
                    <p>Ik begrijp de gevoelens en zorgen van mijn cliënten en bied ondersteuning met respect en compassie.</p>
                </div>
            </div>
            <div class="value-item">
                <div class="icon-line">
                    <div class="icon-circle">
                        <i class="fas fa-flask"></i>
                    </div>
                </div>
                <div class="value-content">
                    <h3>Evidence Based</h3>
                    <p>Ik baseer mijn aanpak op wetenschappelijk onderzoek en bewezen methoden om de best mogelijke resultaten te behalen.</p>
                </div>
            </div>
        </div>
    </section> 
    
</div>
