<div class="treatment-detail-container">
        
  <div *ngIf="treatment" class="treatment-content">
    <div class="treatment-navigation">
      <a 
        (click)="navigateToTreatmentDetail('emdr-enkelvoudig-trauma')"
        [class.active]="isActive('emdr-enkelvoudig-trauma')"
      >EMDR</a>
      <a 
        (click)="navigateToTreatmentDetail('cognitieve-gedragstherapie')"
        [class.active]="isActive('cognitieve-gedragstherapie')"
      >CGT</a>
      <a 
        (click)="navigateToTreatmentDetail('adhd-diagnostiek-en-coaching')"
        [class.active]="isActive('adhd-diagnostiek-en-coaching')"
      >ADHD</a>
      <a 
        (click)="navigateToTreatmentDetail('wandelsessies')"
        [class.active]="isActive('wandelsessies')"
      >Wandelen</a>
      <a 
        (click)="navigateToTreatmentDetail('act-acceptance-and-commitment-therapy')"
        [class.active]="isActive('act-acceptance-and-commitment-therapy')"
      >ACT</a>
      <a 
        (click)="navigateToTreatmentDetail('schematherapie')"
        [class.active]="isActive('schematherapie')"
      >Schematherapie</a>
      <a 
        (click)="navigateToTreatmentDetail('supervisie-gz-opleiding')"
        [class.active]="isActive('supervisie-gz-opleiding')"
      >Supervisie</a>
      <a 
      (click)="navigateToTreatmentDetail('coaching')"
      [class.active]="isActive('coaching')"
    >Coaching</a>
    </div>
      <!-- Titel en korte beschrijving -->
      <h2>{{ treatment.name }}</h2>
      <p class="intro">{{ treatment.intro }}</p>
  
      <!-- Uitgebreide informatie -->
      <div class="details">
        @if(treatment.name == "Supervisie GZ-opleiding"){
          <h3>Wat houdt dit in?</h3>
          <p>{{ treatment.description }}</p>
    
          <h3>Voor wie is dit geschikt?</h3>
          <p>{{ treatment.targetAudience }}</p>
    
          <h3>Wat kun je verwachten?</h3>
          <p>{{ treatment.expectations }}</p>
        } 
        @else {
          <h3>Wat houdt deze therapie in?</h3>
          <p>{{ treatment.description }}</p>
    
          <h3>Voor wie is deze therapie geschikt?</h3>
          <p>{{ treatment.targetAudience }}</p>
    
          <h3>Wat kun je verwachten?</h3>
          <p>{{ treatment.expectations }}</p>
    
          @if(treatment.name == "Coaching"){
            <h3>Kosten</h3>
            <p>{{ treatment.costs }}</p>
          }
        }
      </div>
      <br><br>

      <a routerLink="/aanmelden" class="cta-button">
        <span>Direct aanmelden</span>
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5 12H19M19 12L12 5M19 12L12 19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </a>
      <br><br><br>
      <button mat-raised-button class="back-button" (click)="goBack()">Terug naar aanbod</button>
    </div>
  </div>