<div class="treatment-detail-container">
        
  <div *ngIf="treatment" class="treatment-content">
    <div class="treatment-navigation">
      <a 
        (click)="navigateToTreatmentDetail('emdr-enkelvoudig-trauma')"
        [class.active]="isActive('emdr-enkelvoudig-trauma')"
      >EMDR</a>
      <a 
        (click)="navigateToTreatmentDetail('cognitieve-gedragstherapie')"
        [class.active]="isActive('cognitieve-gedragstherapie')"
      >CGT</a>
      <a 
        (click)="navigateToTreatmentDetail('adhd-diagnostiek-en-coaching')"
        [class.active]="isActive('adhd-diagnostiek-en-coaching')"
      >ADHD</a>
      <a 
        (click)="navigateToTreatmentDetail('wandelsessies')"
        [class.active]="isActive('wandelsessies')"
      >Wandelen</a>
      <a 
        (click)="navigateToTreatmentDetail('act-acceptance-and-commitment-therapy')"
        [class.active]="isActive('act-acceptance-and-commitment-therapy')"
      >ACT</a>
      <a 
        (click)="navigateToTreatmentDetail('supervisie-gz-opleiding')"
        [class.active]="isActive('supervisie-gz-opleiding')"
      >Supervisie</a>
    </div>
      <!-- Titel en korte beschrijving -->
      <h2>{{ treatment.name }}</h2>
      <p class="intro">{{ treatment.intro }}</p>
  
      <!-- Uitgebreide informatie -->
      <div class="details">
        <h3>Wat houdt deze therapie in?</h3>
        <p>{{ treatment.description }}</p>
  
        <h3>Voor wie is deze therapie geschikt?</h3>
        <p>{{ treatment.targetAudience }}</p>
  
        <h3>Wat kun je verwachten?</h3>
        <p>{{ treatment.expectations }}</p>
  
      </div>

      <h3 class="aanmeld-link" [routerLink]="'/aanmelden'">Jezelf aanmelden? Klik dan hier</h3>
      <button class="back-button" (click)="goBack()">Terug naar aanbod</button>
    </div>
  </div>