$primary-color: #0e2c3a;
$secondary-color: #2c3e50;
$accent-color: #e74c3c;
$light-gray: #f4f4f4;
$background-color: #f7f7f7;
$text-color: #333;

body {
  // background-color: $background-color;
  background-color: #f5f7fa;
  color: $text-color;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }